<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .header {
            font-size: 50px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .link {
            font-size: 30px;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
    <title>99 bottles of beer on the wall</title>
</head>
<body>

    <h1 class="header"><%= locals.text %></h1>

    <a href=<%= locals.link %> class="link"><%= locals.linkText %></a>

</body>
</html>
